.joke {
  margin: 1.5rem 0 2rem;
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #34394f;
}
