.flex {
  display: flex;
  height: 3.5rem;
}

.span {
  background-color: #f5f6f8;
  border-radius: 6px;
  width: 30%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  align-items: center;
}

.button {
  border-radius: 6px;
  border: none;
  outline: none;
  flex: 2;
  background-color: #f5f6f8;
  color: #34394f;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.52px;
  margin-left: 0.5rem;
}

.active {
  background-color: #34394f;
  color: white;
}

.roundButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #34394f;
  font-size: 1.65rem;
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid;
}

.activeButton {
  background-color: transparent;
  font-weight: 900;
}

.input {
  border: none;
  width: 2rem;
  background-color: transparent;
  outline: none;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.52px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.error {
  color: #f39a9a;
  opacity: 0.6;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: left;
}

.errorBox {
  background-color: #f39a9a;
}
