.card {
  width: 38%;
  height: 78%;
  padding: 3rem 3.5rem 4.5rem;
  border-radius: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
  margin: auto;
  margin-top: 2rem;
}
